<link rel="stylesheet" type="text/css" href="/webStatic/css/public/footer.css">
<div class="ftw" style="clear: both;">
	<div id="ftbox">
		<div id="ft">
			<dl class="f_1 dl1">
				<dt class="end_1">
				    <img src="/webStatic/img/icon/LOGO.png">
					<div class="cpn_name">
						天津雷信科技有限公司
					</div>
				</dt>
			</dl>
			<dl class="f_1 dl2">
				<dt class="end_2">
					<p class="_link">服务热线</p>
					<p class="lianxi_1">022-83710829</p>
					<p class="shouqian"><span>08:00-23:00</span></p>
				</dt>
			</dl>
			<dl class="f_1 dl3">
                <div class="_link_1">

                        <p class="shouqian footqq">
							<span>企业QQ：3556408401</span>
							<p style="position: relative;"><img src="/webStatic/img/weixin.jpg" alt="" width="100px" height="100px" style="position: absolute;top: -65px;right: 60px;"></p>

						</p>
                        <p class="shouqian footemail"><span>企业邮箱：indianol@126.com</span></p>
                        <p class="shouqian footadd"><span>天津滨海高新区华苑产业区华天道2号1108（国际创业中心一楼）</span></p>
                        <!-- <p class="shouqian footnone"><span> 重庆市 · 渝中区两路口新干线大厦B座19-5 </span></p> -->

                </div>

            </dl>
            <div class="clear"></div>
            </div>
	</div>
	<div class="clear"></div>
	<div id="ftbox2">
	  <div class="box">
	  	<p>
		  	Copyright@2017&nbsp;天津雷信科技有限公司&nbsp; 版权所有&nbsp;津ICP备17000832号
		</p>
	  </div>
	</div>
</div>
