<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>附件模板下载</title>
	<link rel="stylesheet" type="text/css" href="/webStatic/css/public/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/webStatic/css/public/main.css"/>
     <link rel="stylesheet" href="/webStatic/css/shoppingcart/navPublic.css"/>
	<link rel="stylesheet" type="text/css" href="../webStatic/css/shoppingcart/seallist.css">
</head>
<body>
    {% include "ShoppingCart/include/nav.html" %}

<input type="hidden" value="modeldown" id="header_choose">


<div style="text-align: center;min-height: 500px;width:100%;">
<table border="3"  cellpadding="3" cellspacing="10" height="300px" style="width:50%;min-width: 900px;margin: 0 auto;margin-top: 5%;max-width: 1220px;">
	<tr >
		<td style="font-size:18px;width:30%">
			公章所需附件模板
		</td>
		<td style="font-size: 15px">
			<a href="/webStatic/downloads/1.docx" download="有公章办理刻其他章.docx">有公章办理刻其他章</a>&nbsp&nbsp&nbsp<a href="/webStatic/downloads/2.JPG" download="新办单位有营业执照无公章.JPG">新办单位有营业执照无公章</a>&nbsp&nbsp<a href="">模板附件下载</a>&nbsp&nbsp<a href="">模板附件下载</a>
		</td>

	</tr>

	<tr>
		<td style="font-size:18px;width:30%">
			公章重刻所需附件模板
		</td>
		<td style="font-size: 15px">
			<a href="" >模板附件下载</a>&nbsp&nbsp&nbsp<a href="">模板附件下载</a>&nbsp&nbsp<a href="">模板附件下载</a>&nbsp&nbsp<a href="">模板附件下载</a>
		</td>		

	</tr>

	<tr>
		<td style="font-size:18px;width:30%">
			 企业申请资料附件模板
		</td>
		<td style="font-size: 15px">
			<a href="">模板附件下载</a>&nbsp&nbsp&nbsp<a href="">模板附件下载</a>&nbsp&nbsp<a href="">模板附件下载</a>&nbsp&nbsp<a href="">模板附件下载</a>
		</td>		 

	</tr>
</table>

</div>

	{% include "ShoppingCart/include/footer.html" %}

<script type="text/javascript" src="/webStatic/js/public/jQuery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/webStatic/js/shoppingcart/seal_relation.js"></script>
<script type="text/javascript" src="/webStatic/js/shoppingcart/public/bar.js" ></script>
<script type="text/javascript" src="/webStatic/js/public/nav.js" ></script>
</body>
</html>