<!DOCTYPE html>
<html>
<head>
<title>登录--找回密码</title>
    <link rel="stylesheet" type="text/css" href="/webStatic/public/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/webStatic/public/lib/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/webStatic/css/public/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/webStatic/css/user/main.css" />
    <link rel="stylesheet" href="/webStatic/css/shoppingcart/navPublic.css"/>
</head>

<body>
<!--头部及导航部分-->
    {% include "ShoppingCart/include/nav.html" %}
<!--头部及导航部分结束-->
<input type="hidden" value="{{ register }}" class="register"/>
<hr style="height: 3px;background-color: brown;">
<div class="module">
    <!--第一步--账号及本人身份验证-->
    <div class="centerArea" id="account" style="min-height: 460px;">
        <!--<img width="540px" style="height:30px;" src="..\webStatic\img\Users\login\bar_first.gif" alt="">-->
        <!--<br>-->
        <center>
        <table>
            <tbody>
            <tr style="height: 80px;">
                <td>
                    <h1 style="color: #B81C20;text-align: center;">1.账号验证</h1>
                    <br>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                    <!--<b>请输入您要找回的账号！</b>-->
                    <input type="text" class="accountGet" placeholder="请输入用户名（账号）" style="height: 40px;width: 400px;">
                    <br>
                    <i class="userNamePromptLabel" style="color: brown;"></i>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                    <input style="height: 40px;width: 275px;" type="text" class="form-control Input_verify" name="Input_verify" placeholder="验证码(不区分大小)"/>
                    <span style="width:10%;" id="indexcode" title="点击刷新"></span>
                    <br>
                    <i class="Input_verifyRepeatPromptLabel" style="color: brown;"></i>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                    <input type="button" id="firstStep" value="下一步" style="height: 50px;width: 415px;">
                </td>
            </tr>
            </tbody>
        </table>
        </center>
    </div>

    <!--第二步--邮箱验证-->
    <div class="centerArea" id="email">
        <!--<b>请输入您注册时填写的邮箱！</b>-->
        <center  style="margin-top:50px;">
        <table>
            <tbody>
            <tr style="height: 80px;">
                <td>
                    <h1 style="color: #B81C20;text-align: center;">2.安全验证</h1>
                    <br>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                    <input type="text" readonly="readonly" style="height: 40px;width: 400px;" class="emailGet" placeholder="请输入您的邮箱">
                    <!--<i class="emailPromptLabel" style="color: brown;"></i>-->
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>

                    <input type="text"  id="valiate" class="valiate" placeholder="请输入验证码" style="width:46%;height: 40px;float:left">
                    <span title="点击刷新" >
                        <form action="" method="post" name="myform" style="width:55%;float:left;margin-left: -5%;">
                            <input type="button" id="email_verify" name="toGetCode" value="获取邮箱验证码" onclick="showtime(60)" style="padding:0 0 0 0;width: 100%;border: none;">
                        </form>
                    </span>
                    <!--<input type="button" id="email_verify" value="点击发送验证码" style="width:52%;margin-top: -10px;margin-left: -5%;">-->
                    <br>
                    <!--<i class="valiatePromptLabel" style="color: brown;clear: both;"></i>-->
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                     <input type="button" id="secondStep" value="下一步" style="width:100%;">
                </td>
            </tr>
            </tbody>
        </table>
        </center>
    </div>

    <!--第三步--重设密码-->
    <div class="centerArea" id="password">
        <!--<b>请输入您的新密码并确认！</b><br>-->
        <center  style="margin-top:50px;">
        <table>
            <tbody>
            <tr style="height: 80px;">
                <td>
                    <h1 style="color: #B81C20;text-align: center;">3.重置密码</h1>
                    <br>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                    <input type="password" class="password" value="" placeholder="请输入6~16位密码" style="width: 400px;height: 40px;"><br>
                    <i class="passWordPromptLabel" style="color: brown;"></i>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                    <input type="password" class="repeatPassword" value=""  placeholder="请确认密码" style="width: 400px;height: 40px;"><br>
                    <i class="passWordRepeatPromptLabel" style="color: brown;"></i>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td>
                     <input type="button" id="threeStep" value="完成" style="width: 415px;height: 50px;">
                    <!--安全性验证-->
                    <input type="hidden" class="securityAccess" value="">
                </td>
            </tr>
            </tbody>
        </table>
        </center>
    </div>



    <a id="loginSucceed" href="#alertDiv" role="button" class="btn" data-toggle="modal">触发遮罩窗体</a>
    <div id="alertDiv"  class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h2>登录成功</h2>
        <p style="">
            <a href="javascript:history.go(-1)" role="button" class="btn">返回上一页</a>
            <a href="personalCenter" role="button" class="btn"> 进入个人中心</a>
        </p>
    </div>
</div>
<!--底部公用部分-->
    {% include "ShoppingCart/include/footer.html" %}
<!--底部公用部分结束-->
<script src="/webStatic/public/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/webStatic/js/public/jQuery.cookie.js"></script>
<script src="/webStatic/public/sha256.min.js"></script>
<script src="/webStatic/public/lib/bootstrap/js/bootstrap.js"></script>
<script src="/webStatic/js/user/userresetpassword.js"></script>

<!--<script src="/webStatic/js/public/nav.js"></script>-->
<script>
    // $(function(){
    //     $(".centerArea").css({
    //         "height":$("body").height()-$(".nav-active").height()-$(".footer").height(),
    //     })
    // })
    var head=document.getElementById("header");
    var searchBox=document.getElementById("searchBox");
    head.style.borderBottom='#B81C20 0px solid';
    searchBox.style.display='none';
    $(".sidebar").css("display","none");
</script>
</body>
</html>