@charset "utf-8";
/*
公用部分头部及导航栏样式
*/


/*导航栏测试-------------------------------------------------------*/
.headernav{
    margin-top:30px;
}
.headernav ul li{
    width:200px;
    height:30px;
    line-height:30px;
    font-size:16px;
    text-align:center;
    float:left;
    list-style:none;
    border: 0 none;
    border-radius: 3px;
    margin-right: 2px;
}
.headernav ul li a{
    color:black;
}
.headernav ul li:hover{
    background-color:#B81C20;
    cursor:pointer;
    color:white;
}
.headernav ul li a:hover{
    color:white;
    text-decoration:none;
}
/*
.searchbox{width:380px !improtant;height:30px;float:right;margin:20px 8% 0 0;}
.bodys input{ height:30px;line-height:30px;width:300px;padding:0 10px;float:left;}
.bodys .one{ border:#B81C20 3px solid}
.bodys .one1{ background-color:#B81C20; }
.bodys button{float:left;border:0;height:30px;width:80px; color:#FFF; line-height:30px;text-align:center;overflow:hidden;}*/
/*-----------------------------------------------------------------*/

.headerBar{
    height:30px;
    background-color:#B81C20;
    line-height:30px;
    color:white;
    font-size:14px;
}
.headerBar a:hover{
    color:white;
}
.container_out{
    max-width:1440px;
    min-width:1220px;
    margin:0 auto;
}
.comWidth {
    width:90%;
    margin:0 auto;
    max-width:1200px;
}
.leftArea{
    float:left;
}
.rightArea{
    float:right;
}

.nav-active{
    width:100%;
    position: relative;
    top: 0;
    /*z-index:500;*/
    /*box-shadow: 0px 0px 1px #232323;*/
    min-width:1220px;
    margin:0 auto;
    display: block;

   }
.container {
    margin-top:5px;
    width: 85%;
    height:100px;
    }
.nav-logo {
    float:left;
    margin-left:0px;
}
.logoImg {
    width:220px;
    height:100px;
    border-radius: 4px;
    }
.nav-group {
    float:right;
    margin-right:280px;
}
.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    color: #323232;
    width:110px;
    height:69px;
    line-height:69px;
    text-align:center;

}

.nav-item a {
    border-radius:3px;
    font-size:16px;
    color:black;
    width:110px;
    height:69px;
    text-decoration:none;
    display: inline-block;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;


}
.nav-item-active, .nav-item:hover{
    cursor: pointer;
    color: #232323;
    border-bottom: 2px solid #F34646;
}
/*.nav-item a:hover{font-size:25px;color: #FFF;background:#E4E4E4;; }*/

/*.nav-item > a:hover {
    color:red;
}*/

/*公用部分底部导航*/

/*配置章材导航栏*/
/*
.navbar{
    margin-top:2%;
	margin-bottom:3%;
}
.navbar1{
    width:80%;
	margin-left:10%;
	margin-bottom:1%;
}
.navbar11{
    margin-left:10%;
    float:left;
    text-align:center;
    width:20%;
    height:30px;
    line-height:30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    background-color:#66CCFF;
}
.navbar11 p{
    font-size:14px;
}

*/
/*侧边栏部分*/
.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:35px;
    background: #000 none repeat scroll 0 0;
    color:#fff;
    z-index:100;
}
.bar{
    float:right;
    margin-right:0px;
    font-size:12px;
    width:35px;
    height:100px;
    margin:line-width:35px;
    margin:line-height:100px;
    border-bottom:1px #b81c20 solid;
    text-align:center;
}
.bar:hover{
    background:#b81c20;
    color:#FFF;
    outline:none;
}
.barLine{
    width:20px;
    padding:0;
    display:block;
    margin-top:10px;
    margin-left:8px;
    line-height:16px;
    overflow:hidden;
    top:40px;
}
.window{
    position:fixed;
    height:360px;
    margin-left:40%;
    margin-right:auto;
    width:360px;
    border:1px solid #b81c20;
    display:none;
    z-index:10000;
    background-color:white;
}
.topTitle{
    width:360px; height:60px;
    background-color:#b81c20;
    text-align:center;
    font-size:12px;
    color:white;
    padding-top:20px;
}
div.list{
    display:inline-block;
}
div.list ul li{
    width:360px; height:80px;
    text-align:center;
    line-height:100px;
    font-size: 24px;
    border-bottom:1px dotted #777;
}
/*li:hover{
    background:#ccc;
}*/