@charset "utf-8";

/*
公用部分头部及导航栏样式
*/
.ImgFile { display: none }
.ImgName { width: 200px; }
.imgArea { width:90%;height: 85%;border-radius: 5%; }
.inputButt{ height:150px;margin-top: 10px;}


a:link {text-decoration: none}
a:hover{color:red;}
/************************************************************************/
.logoImg{
    width:130px;
    height:63px;
    border-radius:10px;
}
/*****************************************************************/
.userDetailsHead{
    width:100%;
    height:68px;
}
.leftHead{
    width:40%;
    height:auto;
    float:left;
    margin:5px 0 0;
}
.navGroup {
    float:right;
    width:55%;
}
.navigation{
    vertical-align: middle;
}
.navGroupList{
    display:none;
    position:relative;
    z-index:555px;
}
.navGroupList li {
    height: 35px;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    list-style-type:none;
}
.nav-item {
    list-style-type:none;
    float:left;
    width:120px;
    height:80px;
    margin-right: 20px;
    margin-top:15px;
    text-align:center;
    font-size:20px;
    line-height:80px;
}
.nav-item:hover{
    background:#ECECEC;
}

.nav-item a:hover{
    color:#E9ABAD;
}

/*******************************************************************/
.userDetailsBody{
    width:80%;
    height:535px;
    margin:5px auto 0 auto;
    border:1px solid #b81c20;
    margin-bottom:3%;
}
.location{
    margin: 1% 6%;
    height: 25px;
    padding-top:5px;
}
.backLocation{
    float:right;
    height: 30px;
    line-height:30px;
    width: 100%;
    text-align:end;
    font-size:15px;
    margin-right: 20px;
}
.backLocation a:hover{
    color:red;
}
.location i{
    float:left;
    margin-left:3px;
}
.locationI{
    float:left;
    margin-left:2px;
    background: #b81c20 none repeat scroll 0 0;
    color: #fff;
    border: 0 none;
    border-radius: 3px;
    border:1px solid #b81c20;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 3px;
    text-align: center;
}
.location-i{
    border: 0 none;
    border-radius: 3px;
    border:1px solid #b81c20;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 3px;
    text-align: center;
}
.userDetailsBodyLeft{
    float:left;
    width:50%;
}
.userDetailsBodyRight{
    width:40%;
    float:left;
}
.personPicture{
    width:155px;
    height:115px;
    float:left;
    margin: 2% 0 1% 19%;
}
.personPictureChange{
    height:20px;
    float:left;
    text-align:right;
    width: 60px;
    margin: 11% 0 0 0;
}
tr{
    height:50px;
}
/************************************************************************/
.userFoot{
    height:30px;
    width:100%;
    background:#F8F8F8;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-top: 30px;
}
input[name='passwordChange']{
    margin-top: -1px;
    margin-right: 5px;
}
hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #707386;
}
input[name='userReturn']{
    height:33px;
    margin-left:70px;
    width: 70px;
}
#changeId{
    margin: 4px 5px 5px 0;
}
.button{
    background: #B81C20 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    text-align: center;
}