<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客服界面</title>
    <link  rel="stylesheet" href="/webStatic/static/css/bootstrap.css" >

    <!-- Custom styles for this template -->
    <!--<link rel="stylesheet" href="/webStatic/static/css/navbar-static-top.css">-->
    <!--<link rel="stylesheet" href="/webStatic/static/css/customize.css">-->
    <!--<link rel="stylesheet" href="/webStatic/static/css/serviceIndex.css">-->
    <link rel="stylesheet" href="/webStatic/static/css/chat.css">
</head>
<body>
    <input type="text" class="username" id={{serviceId}} style="display:none;"value={{serviceuser}}>
    <div class="all">
            <div class="kefu-head"><div class="head-text"><b >印章在线客服</b></div></div>
        <div class="chat-list contact-list ">
            <div class="list-head">印章用户</div>
            <div class="list-user list-group">
                <!--<div class="user">-->
                <!--<img src="/webStatic/static/image/user.jpg" />-->
                <!--<i>user</i>-->
                <!--</div>-->
            </div>

        </div>



        <div class="chat">
            <div class="chat-head chat-header">
                <p>您正在和<span>小七</span>对话</p>

            </div>
            <div class="chat-show">
                <!--<div class="chat-head">-->
                    <!--<p id="auto-id-1469345297620">您正在和<span>小七</span>对话</p>-->

                <!--</div>-->
                <div class="chat-left">
                    <div class="chat-img"><img src="/webStatic/static/image/user.jpg"></div>
                    <div class="left">
                    <div class="name">
                        <b>用户</b>
                        <span>2015-10-01</span>
                    </div>
                    <div class="chat-content"><span>你好，我有问题想要咨询   还在么</span></div>
                    </div>
                </div>
                <br/><br/>
                <div class="chat-right">
                    <div><img src="/webStatic/static/image/admin.jpg"></div>
                    <div class="right">
                    <div class="name1">
                        <span>2015-10-01</span>
                        <b>客服</b>
                    </div>
                    <div class="chat-content1">

                        <span>您好，有什么可以帮您的呢？</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="chat-text"><textarea></textarea></div>
            <input class="send" type="button" value="发送" />
        </div>
    </div>
    <div  class="foot">印章网站提供技术支持</div>
    <script type="text/javascript" src="/webStatic/static/js/public/jQuery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/webStatic/static/js/public/jQuery/jQuery.js"></script>
    <script type="text/javascript" src="/webStatic/static/js/public/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webStatic/static/js/public/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/webStatic/static/js/serviceIndex.js"></script>
</body>

</html>