<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="/webStatic/public/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/webStatic/public/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webStatic/public/lib/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/webStatic/css/public/main.css" />
    <link href="/webStatic/css/user/stylesheets/userDetails.css" rel="stylesheet" type="text/css" />
    <link href="/webStatic/css/user/stylesheets/myorder1.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #F5F5F5;">
    <!--引入公用部分-->
    {% include "Users/include/nav.html" %}
    <!--公共部分结束-->
<div class="module" >
    <div class="location" style="color: rgb(112, 115, 134);">
        <p>当前位置：<a href="/Users/personalCenter">个人中心</a>>>我的订单</p>
    </div>
    <div class="userDetailsBody" style="height:auto;margin-bottom:3%;">
        <div class="all0rder">
            <td>
                <select name="colorSelect" id="colorSelect" class="selectOrder">
                    <option value="0">所有订单</option>
                    <option value="-1">返回修改</option>
                    <option value="1">等待接单</option>
                    <option value="2">资料审核</option>
                    <option value="3">交付制作</option>
                    <option value="4">待收货</option>
                    <option value="5">已收货</option>
                    <option value="8">交易完成</option>
                    <option value="9">等待退款</option>
                    <option value="11">退款成功</option>
                </select>
            </td>
        </div>
        <div class="backIndex">
            <a href="/">返回网站首页</a>
        </div>
        <hr style="margin-top:45px;border-bottom: 1px solid #B81C20;">
        <div class="orderList">
            <table>
                <thead style="background:#e4e4e4;">
                    <tr>
                        <th class="orderHead orderHead1">商品</th>
                        <th class="orderHead orderHead2">数量</th>
                        <th class="orderHead orderHead2">单价(￥)</th>
                        <th class="orderHead orderHead2">总额(￥)</th>
                        <th class="orderHead orderHead2">付款方式</th>
                        <th class="orderHead orderHead2">付款状态</th>
                        <th class="orderHead orderHead2">订单状态</th>
                        <th class="orderHead orderHead3">订单处理</th>
                    </tr>
                </thead>
            </table>
            <div class="list">

            </div>
        </div>
        <div class="pagination">
            <center>
                <ul class="page">
                    <!--数据库调取分页-->
                </ul>
            </center>
        </div>
    </div>
</div>
    <!--底部公用部分-->
    {% include "ShoppingCart/include/footer.html" %}
    <!--底部公用部分结束-->
    <script src="/webStatic/public/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/webStatic/public/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/webStatic/js/public/jquery.cookie.js" type="text/javascript"></script>
    <script src="/webStatic/js/public/pageJs.js" type="text/javascript"></script>
    <script src="/webStatic/public/jquery.form.js" type="text/javascript"></script>
    <script src="/webStatic/js/user/first/myOrder.js" type="text/javascript"></script>
    <!--page公用的js-->
</body>
</html>